---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Oops! It looks like this page is lost in space!",
	title: "Oops! You found a missing page!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">404 | Not Found</h1>
	<p class="mb-8">
		Like a rabbit, you've found your way into a hole that leads nowhere. Try using the navigation to
		find your way home.
	</p>
</PageLayout>
